@mixin column_gutter($gutter: $column_gutter)
{
    padding-right: $gutter;
    padding-left: $gutter;
}
// end column_gutter()

@mixin font_size($pixels)
{
    font-size: $pixels;
    font-size: rem($pixels);
}
// end font_size()

@mixin line_height($pixels)
{
    line-height: $pixels;
    line-height: rem($pixels);
}
// end line_height()
