#drawer
{
    position: fixed;
    top: $masthead_height;
    left: 0;

    display: block;
    width: $drawer_width;
    height: 100%;

    background-color: $white;
    border-top: 1px solid interface_colour("grey", 100);
}
// end #drawer

    .drawer__link
    {
        display: block;
        margin-top: $baseline * 2;
        padding: 0 $column_gutter;

        color: podium_colour("primary");

        @include font_size(14px);
    }
    // end .drawer__link
